a {
    text-decoration:none;
    color:#FFF
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Roboto;
    color: #FFF;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    
    height: auto;
    
    /* Maintain aspect ratio */
    flex: 1 1 auto;
    /* Allow images to grow and shrink */
    object-fit: cover;
   
    border-radius: 10px;
  
}

.main, .header, .footer{
    background-color: #1F2937;
    padding: 20px 100px;
}

.info, .newsletter {
    background-color: #FFF;
    padding: 20px 100px;
}

.quote{
    background-color: #E5E7EB;
    padding: 20px 200px;
    color:black
}



/* Header portion */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo {
    color: #f9faf8;
    font-size: 24px;
}

#list{
    display: flex;
    gap: 16px;
}

/* Main portion */

.main {
    display: flex;
    padding-bottom: 50px;
    flex-wrap: wrap;

}

.placeholder {
    
    text-align: center;
    align-content: center;
    flex: 1;


}

@media screen and (max-width: 1000px)  {
    .placeholder {
      display: none;
    }
  }
.left {
    flex: 1;
}



#hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: #FFF;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;  
}

/* Info portion */

.info {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #1F2937;
    flex-wrap: wrap;
    
    
}

#info-title {
    font-size: 36px;
    font-weight: 900px; 
    justify-content: center;
    display: flex;

}

.products {
    display: flex;
    gap: 36px;
    padding: 20px 100px;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    
    
}

.placeholder-image {
    background-color: #FFF;  
    text-align: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    
}



.product {
    
    
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    width: 300px;

    
}

/* QUOTE portion */

.quote{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.quote > #quote {
    text-align: center;
    font-style: light italic;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 0;
}

.quote > #author {
    text-align: right;
    font-size: 26px;
    margin-top: 10px;
}

/* Newsletter portion */

.newsletter {
    padding: 80px 160px;
}

#signup {
    color:#FFF;
    background-color: #3882F6;
    display: flex;
    padding: 20px 150px;
    border-radius: 20px;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    gap: 16px;


}

#signup > .button {
    border: 2px white solid;
    height: 50%;
}

#signup-title {
    font-weight: 600;
}


/* FOOTER portion */
.footer {
    display: flex;
    justify-content: center;
    padding: 20px;

}